@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.App {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.fc-button-primary {
  background-color: #696cff !important;
}

.react-flow .react-flow__handle {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #696cff;
}

.react-flow .react-flow__handle-top {
  top: -10px;
}

.react-flow .react-flow__handle-bottom {
  bottom: -10px;
}

.react-flow .react-flow__node {
  height: fit-content;
  width: 106px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  font-weight: 700;
  font-size: 10px;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}

#nav-active {
  background-color: #d1d2ff !important;
  color:#696cff !important;
}

.wrapper-light-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-light-class {
  /* background-color:lightgray; */
  /* padding: 1rem; */
  /* border: 1px solid #ccc; */
  max-height: 100%;
  overflow: auto;
}
.toolbar-light-class {
  border: 1px solid #ccc;
}